// Material Theming


// Define theme variables before importing any MDC Web component styles
// $mdc-theme-primary: midnightblue;
// $mdc-icon-button-size: 24px;
$mdc-icon-button-width: 118px;
$mdc-icon-button-height: 50px;
$mdc-icon-button-padding: 2px;
$mdc-icon-button-margin: 4px;

$mdc-theme-primary: #2260f2;
$mdc-theme-secondary: #bbbefc;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;
